
    <ul class="nav flex-column sidebar">

        <li class="nav-item">
            <a href="/admin/dashboard" class="nav-link {{ active == "home" ? "active" }}">Tableau de bord</a>
        </li>
        <li class="nav-item">
            <a href="/admin/articles" class="nav-link {{ active == "articles" ? "active" }}">Chapitres</a>
        </li>
        <li class="nav-item">
            <a href="/admin/createArticle" class="nav-link {{ active == "add" ? "active" }}">Créer un chapitre</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">Déconnexion</a>
        </li>

    </ul>


