{% extends "admin_layout.html.twig" %}

{% block content %}

    <div class="container">
        <h1>-Alpha Dashboard-</h1>
        <div class="mx-auto text-center" style="max-width=600px">
            <img src="/assets/images/work-in-progress-md.png"  style="width: 40%" alt="En cours">
        </div>
    </div>


{% endblock content %}
