<!DOCTYPE html>
<html>
<title>Connexion administrateur</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/png" href="/assets/images/admin-favicon.png"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/css/style.css">

<body>

<header class="">
    <h1 class="bgAdminConnexion mx-auto text-center py-3">Connexion administrateur</h1>
</header>

<div class="text-center container">
    <div class="mx-auto" style="max-width:600px">


         {% if errorLogin %}

             <div class="alert alert-danger" role="alert">
                 {{ errorLogin }}</div>

        {% endif %}

        <img src="/assets/images/admin.jpeg/" class="rounded-circle my-5 img-border" alt="Admin" style="width:40%">

        <form class="" method="POST" action="">

            <p>

                <input class="form-control text-center" type="email" name="email" style="width:100%" placeholder="Votre email" required>

            </p>
            <p>
                <input class="form-control text-center" type="password" name="password" style="width:100%" placeholder="Votre mot de passe" required>
            </p>
            <p>

                <button class="btn btn-outline-Login bg-orange" type="submit" > Envoyer </button>



            </p>
        </form>
    </div>
</div>
</body>
</html>
