
<div class="container">
    <h1>Créer un chapitre</h1>
    <div class="card article">
        <div class="card-header bg-warning">
            Nouveau chapitre
        </div>
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                    <label for="titre">Titre</label>
                    <input type="text" class="form-control" id="text" name="titre">
                </div>

                <div class="form-group">
                    <label for="contenu">Contenu</label>
                    <textarea class="form-control" id="contenu" name="contenu" rows="6"></textarea>
                </div>
                <button type="submit" class="btn btn-warning">Envoyer</button>
            </form>
        </div>
    </div>

</div>
