{% extends "admin_layout.html.twig" %}

{% block content %}

<div class="container mt-5">

    <h1 class="fontWhite">Voici le billet que vous venez de créer</h1>

    <div class="row mt-5">
        <div class="col-10 offset-1 d-flex">
            <img class="img-fluid mx-auto" src="/assets/images/{{ article.picture }}" alt="Generic placeholder image">
        </div>

        <div class="row d-flex mt-5">
            <div class="col-10 offset-1">

                <p class="lead">{{ article.content|raw}}</p>
            </div>
        </div>
    </div>

</div>

{% endblock content %}




