{% extends "admin_layout.html.twig" %}

{% block content %}

<div class="container mt-5">
    <h1 class="fontWhite">Voici le billet que vous venez de créer</h1>
    <div class="row featurette">
        <div class="col-md-7 d-flex">
            <div class="">
                <h2 class="featurette-heading articleTitre fontWhite">{{ article.title }}<span class="text-muted"></span></h2>
                <p class="card-title articleDate fontWhite">Rédigé le : {{ article.date}}</p>
                <p class="lead fontWhite">{{ article.content | raw}}</p>
                </a>
            </div>
        </div>
        <div class="col-md-5 d-flex">
            <img class="featurette-image img-fluid mx-auto" src="/assets/images/{{ article.picture }}" alt="Generic placeholder image">
        </div>
    </div>
</div>
{% endblock content %}




