{% extends 'layout.html.twig' %}

{% block register %}

    <div class="main-w3layouts wrapper">
        <h1>Inscription Billet simple pour l'Alaska</h1>
        <div class="main-agileinfo">
            {% if errorLogin %}

                <div class="alert alert-danger" role="alert">
                    {{ errorLogin }}</div>

            {% endif %}
            <div class="agileits-top">

                <form action="#" method="post">

                    <input class="text" type="text" id="Username" name="lastname" placeholder="Nom" required="">

                    <input class="text" type="text" id="Username" name="firstname" placeholder="prénom" required="">

                    <input class="text email" type="email" id="email" name="email" placeholder="Email" required="">

                    <input class="text" type="password" id="password" name="password" placeholder="Mot de passe" required="">

                    <input class="text w3lpass" type="password" id="password" name="password_control" placeholder="Confirmer mot de passe" required="">

                    <input type="submit" name="inscription" value="ENVOYER">

                </form>
            </div>
        </div>
    </div>

{% endblock %}
