h1 {
    text-align: center;
}

/*color for article date*/
.articleDate{
    color: lightslategray;
}

/*modify title article size font-color */
.articleTitre {
    color: black;
    font-size: 2em;
    text-align: center;

}

/*margin above articles*/
.article {
    margin-top: 20px;
}

/*image in article responsive*/
.imgArticle {
    max-width: 100%;
}

/*background color connexion admin*/
.bgAdminConnexion {
    background-color: #FFC107;
}

/* border around picture in admin log*/
.rounded-circle {
    border: 2px solid #FFC107;
}

/* FOOTER */

footer {
    background: #FFC107;
    font-family: sans-serif;
    width: 100%;
    height: 70px;
    margin: 0;
}

.footer-icons {
    text-align: center;
    font-size: 20px;
    width: 100%;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 0;
}
.footer-bottom {
    text-align: center;
    color: black;
    width: 100%;
    align-items: center;
    padding:0;
}

.fa-facebook {
    color:black;
    padding: 0.5em;
}

.fa-instagram {
    color: black;
    padding: 0.5em;
}

.fa-linkedin {
    color: black;
    padding: 0.5em;
}

.fa-twitter {
    color: black;
    padding: 0.5em;
}

.fa-youtube {
    color: black;
    padding: 0.5em;
}
.fa-copyright {
    color: black;
    padding: 0.5em;
}

.writer {
    color:black;
    padding: 1em;
}
a{
    color: black;
    text-decoration: none;
}

/* END FOOTER */
