
<div class="row card-deck">
    {% for article in articles %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/assets/images/{{ article.picture }}/" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ article.title|truncate(50) }}</h5>
                <p class="card-text">{{ article.content|truncate(200) }}</p>
                <a href="/article/{{ article.id }}" target="">
                    <button type="submit" class="btn lasuite">Lire la suite</button>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
