
<div class="col-6">

    <ul class="categories">

        <li class="list-group">
            <a class="menuCategories" href="#">Chapitre 10</a>
        </li>
        <li class="">
            <a class="menuCategories" href="#">Chapitre 9</a>
        </li>
        <li class="">
            <a class="menuCategories" href="#">Chapitre 8</a>
        </li>
        <li class="">
            <a class="menuCategories" href="#">Chapitre 7</a>
        </li>
        <li class="">
            <a class="menuCategories" href="#">Chapitre 6</a>
        </li>
        <li class="">
            <a class="menuCategories" href="#">Chapitre 5</a>
        </li>
        <li class="">
            <a class="menuCategories" href="#">Chapitre 4</a>
        </li>
        <li class="">
            <a class="menuCategories" href="#">Chapitre 3</a>
        </li>
        <li class="">
            <a class="menuCategories" href="#">Chapitre 2</a>
        </li>
        <li class="">
            <a class="menuCategories" href="#">Chapitre 1</a>
        </li>

    </ul>

</div>
