
<footer class="myFooter footer shadow" >
    <div class="footer-icons">

        <a href="https://fr-fr.facebook.com"  target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://www.linkedin.com"  target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://twitter.com"  target="_blank"><i class="fa fa-twitter "></i></a>

    </div>
    <section class="footer-bottom">
        <div class="footer-bottom-wrapper">

            <a href="">
                <i class="fa fa-copyright"><strong> Jean Forteroche </strong></i>
            </a>

            <a href="/mentionsLegals">
                <i class="writer"><strong> Mentions Légales </strong></i>
            </a>

        </div>
    </section>
</footer>
