
{% extends "layout.html.twig" %}

{% block content %}

    <div class="container">

        <div class="card text-center">
            <div class="card-body">

                <h5 class="card-title">Attention</h5>
                <p class="card-text">{{ errorConnexion }}</p>
                <a href="/login" class="btn btn-primary">Connectez-vous</a>
                <a href="{{ retour }}" class="btn btn-primary">Retour à l'article</a>

            </div>
        </div>

    </div>

{% endblock %}
