
{% extends "layout.html.twig" %}

{% block content %}

    <div class="container">

        <div class="card text-center">
            <div class="card-body">

                <h4 class="card-title">Attention</h4>
                <h5 class="card-text">{{ errorConnexion }}</h5>
                <a href="/login" class="btn btn-primary">Connectez-vous</a>
                <a href="{{ return }}" class="btn btn-primary">Retour au commentaire</a>

            </div>
        </div>

    </div>

{% endblock %}
