{% extends "layout.html.twig" %}

{% block content %}

    <div class="container">
        <h1>Billet simple pour l'Alaska - Alpha showArticle</h1>
    <div class="card article">
        <div class="card-header bg-warning articleTitre">
            {{ article.title }}

        </div>
        <div class="card-body">
            <p class="card-title articleDate">{{ article.date }}</p>
            <p class="card-text">{{ article.content }}</p>
        </div>
    </div>
    </div>

    {#create a form to add a comment#}
    <div class="container">
        <div class="card article">
            <div class="card-body">
                <form method="post" action="/article/{{ article.id }}/comment">
                    <div class="form-group">
                        <label for="content">Votre commentaire</label>
                        <textarea class="form-control" id="content" name="content" rows="6"></textarea>
                    </div>
                    <button type="submit" class="btn btn-warning">Envoyer</button>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}



