{% extends 'layout.html.twig' %}

{% block content %}

    <div class="homepageError">

        <div class="header">

            <div class="w3-main">

                <div class="agile-info">

                    <h3>Ooops!</h3>

                    <h2>4<img src="/assets/images/confused.gif" alt="image" />4</h2>

                    <h4>Désolé nous ne trouvons pas votre page !</h4>

                    <a href="\"> Retour à l'accueil </a>
                </div>

            </div>

        </div>

    </div>

{% endblock %}
