{% extends "admin_layout.html.twig" %}

{% block content %}

    <div class="container">
        <h1 class="text-white">Tous les commmentaires</h1>

        <table class="table table-striped text-white">
            <thead>
            <tr>
                <th scope="col">Titre du billet</th>
                <th scope="col">Commentaires</th>
            </tr>
            </thead>
            <tbody>
            {% for content in comments %}

                <tr>
                    <td data-toggle="tooltip" data-placement="top" title="{{ content.content }}">{{ content.content|truncate(80) }}</td>
                    <td>{{ content.title }}</td>

                    <td>
                        <a href="/admin/comment/delete/{{ content.id }}" target="">
                            <button type="submit" class="btn btn-warning"><i class="far fa-trash-alt"></i></button></a>
                    </td>
                </tr>



            {% endfor %}

        </table>
    </div>

{% endblock content %}
