{% extends 'layout.html.twig' %}

{% block content %}

    <div class="homepageError">

        <div class="header">

            <div class="w3-main">

                <div class="agile-info">

                    <h3>Erreur</h3>

                    <h2>4<img src="/assets/images/watching-you.gif" alt="image" />5</h2>

                    <h4>Méthode de requête non autorisée</h4>

                    <a href="\"> Retour à l'accueil </a>
                </div>

            </div>

        </div>

    </div>

{% endblock %}
